header{
    padding: 20px;
    margin-right: -20px;
  }
  #logoHTML{
    width: 55px;
  }
  .logo-nav-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  #lorem {
      background-color: aliceblue;
  }
  
  .cabecera ul li{
    display: inline-block;
  
  }
  #Name{
    display: inline-block;
    margin-left: -30px;
    text-align: left;
  }
  
  .cabecera ul li{
    padding: 0.5rem 1rem;
  }
  body {
    background-color: rgba(0, 0, 0, 0.315);
  }
  body{
    margin: 6rem;
    margin-left: 300px;
    margin-right: 300px;
    padding: 0;
  }
  img{
    width: 60px;
  }
  #derecho{
    float:right
  }
  .middle img{
    width: 100%;
  }
  .middle{
    text-align: center
  }
  
  #options{
    float:right;
    width:45px;
  }
  
  h5{
    font-size: 23.2px;
  }
  #social_commit{
    margin: 1rem;
  }
  
  .container{
    background-color: white;
    margin: 0;
    padding: 0;
  }
  #interaction{
    margin: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
  }